/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sometype Mono', 'monospace';
    font-size: 15px;
}


/* intestazione pagina web */
header {
    background-image: url('../img/wall.png');
    background-size: 470px;
    height: 150px;
    /* position: fixed; */
    /* width: 100%; */
}

/* titolo pagina in intestazione */
h1 {
    font-family: 'Edu Tas Beginner', 'sans-serif';
    text-align: center;
    font-size: 85px;
    line-height: 150px;
}

/* contenuto principale pagina */
main {
    background-image: url('../img/cork.png');
    height: 803px;
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
}

.photo-cont {
    width: 70%;
    margin: 0 auto;
}

/* pics in main */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col-main {
    /* DEBUG */
    background-color: red;
    border: 1px solid black;
    height: 150px;
    width: 49%;
    
}

