/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', 'monospace';
    font-size: 15px;
}


/* intestazione pagina web */
header {
    background-image: url('../img/wall.png');
    background-size: 470px;
    height: 150px;
    /* position: fixed; */
    /* width: 100%; */
}

/* titolo pagina in intestazione */
h1 {
    font-family: 'Edu Tas Beginner', 'sans-serif';
    text-align: center;
    font-size: 85px;
    line-height: 150px;
}

/* contenuto principale pagina */
main {
    background-image: url('../img/cork.png');
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}

.photo-cont {
    width: 60%;
    margin: 0 auto;
}

/* pics in main */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    
}

.col-main {
    /* DEBUG */
    background-color: white;
    /* border: 1px solid black;
    height: 330px; */
    width: 292px;
    position: relative;
}

.pics {
    height: 265px;
    margin: 16px 13px;
}

.data {
    padding-bottom: 5px;
    padding-left: 16px;
    font-size: 15px;
}

.evento {
    padding-bottom: 20px;
    padding-left: 16px;
    font-size: 25px;
    font-weight: 800;
}

#pin {
    position:absolute;
    bottom: 350px;
    left: 125px;
}

